
/* rye-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rye-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
html{
     box-sizing: border-box;
     min-width: 100vw;
     
}



body{
    margin:0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#titleBox{
    min-width: 100%;

    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Rye';
    font-style: normal;

    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
}

#impressumLink{
   
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px; 
    padding-bottom: 2px;
    

    
}

#impressumLink:hover{
    border: 2px solid black;
    background-color: rgb(255, 136, 0);
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px; 
}


#canvasContainer {
    position: relative; /* Wichtig: Relativer Bezugspunkt für den Overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCanvas{
    background-color: black;
    display: block;
    border: 3px solid orange;
    margin-bottom: 0;
    
   
}





#overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#overlayContainer{
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.8); */
    


}

#top-row{
    min-height: 20%;
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#middle-row{
    min-height: 60%;
    
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#bottom-row{
    min-height:20%;
    
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.uiOptionButton{
    height:fit-content;
}

.noDisplay{
    display: none !important;
}

#impressumContainer{
    
    
    max-width: 100%;
    min-height: 100dvh;
    display: flex;
}



.impressum{
    
    max-width: 1044px;
    margin-bottom: 2rem;
    
    
    padding-left: 1.5rem;
    padding-right: 1rem;
    
    
    
    
}

@media only screen and (max-width:720px){
    #myCanvas{
        width: 100%;
        border: none;
    }

    #overlayContainer{
        
        width: 100%;
        
    }    
}

@media only screen and (max-width:480px){
    h1{
        font-size: 3rem;
    }
}

@media only screen and (max-width:345px){
    h1{
        font-size: 2rem;
    }
}




@media only screen and (max-height: 480px ){
    
    
    #myCanvas{
            max-height: 100vh;
            
            border: none;
    }

    #canvasContainer{
        max-height: 100vh;
    }

    #overlayContainer{
    
        
        height: 100vh;
    }

    
        
}
